<strong>Olá {{ student }} </strong>
<p>Parabéns, você acaba de se matricular na GymPoint. Abaixo, estão os dados da sua matrícula:</p>
<p>
    <strong>Plano escolhido: </strong> {{ plan }} <br />
    <strong>Data início: </strong> {{ start_date }} <br />
    <strong>Data fim: </strong> {{ end_date }} <br />
    <strong>Preço total: </strong> {{ price }} <br />
    <br />
    <small>
        Agradecemos a preferência, esperamos que tenha uma ótima jornada de treinos.
    </small>
</p>
